@value accent-color from '../../styles/variables.module.css';
@value dark-text-color from '../../styles/variables.module.css';
@value light-text-color from '../../styles/variables.module.css';

.button {
  border-color: dark-text-color;
  color: dark-text-color;
  transition: color 250ms linear, border-color 250ms linear,
    background-color 250ms linear;
}

.button:hover,
.button:focus {
  border-color: accent-color;
  color: light-text-color;
  background-color: accent-color;
}
