@value light-text-color from '../../styles/variables.module.css';
@value accent-color from '../../styles/variables.module.css';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.navList {
  display: flex;
  margin-left: auto;
}

.navItem:not(:last-child) {
  margin-right: 30px;
}

.navLink {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: light-text-color;
  transition: color 250ms linear;
}

.navLink:hover,
.navLink:focus {
  color: accent-color;
  cursor: pointer;
}
