@value light-text-color from '../../styles/variables.module.css';
@value dark-text-color from '../../styles/variables.module.css';
@value tablet-brp from '../../styles/variables.module.css';

.searchInput {
  position: relative;
  width: 280px;
  color: dark-text-color;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000000;
}

.searchInput::placeholder {
  color: dark-text-color;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: tablet-brp) {
  .searchInput {
    width: 336px;
  }
}
